



html{
    height: 100%;
    width: 100%;
}


header{
    background-color:#04213a;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Apple Chancery, cursive;
    background: #ffffff;
    border-radius: 20px;
    border-style: ridge;
}


footer{
    display: flex;
    border: 10px solid transparent;
    font-style: italic;
    background-color:#ffffff;
    height:15px;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    font-size: 15px;
    border-radius: 3px;
    border: 1px;
    border-color: #010c16;
    border-style: solid;
}

